.notification-success {
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid green;
  font-weight: bold;
  font-size: 2rem;
  color: green;
}

.notification-error {
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid red;
  font-weight: bold;
  font-size: 2rem;
  color: red;
}
