.notification-success {
  padding: 1rem;
  background-color: green;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.notification-error {
  padding: 1rem;
  background-color: #fe1942;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
